@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 16rem;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgb(146, 19, 236);
    cursor: pointer;
    flex-wrap: wrap;
  }
.navbar h1 {
  color: rgb(146, 19, 236);
}
.navbar h2:hover {
  color: rgb(146, 19, 236);
}
.links {
  display: flex;
  gap: 2rem;
  float: right;
}
.notification-card {
   display: none;
    position: fixed;
    top: 90px;
    right: 20px;
    background-color: #f44336;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .notification-card.show {
    display: block;
    right: 40px;
    transition: 1s ease-in;
  }
  
  #notificationText, #closeButton {
    color: rgb(255, 255, 255);
    font-weight: 400;
    letter-spacing: 1px;
  }
.form-container {
  width: 600px;
  margin: 20px auto;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 20px;
}
.form-container h2 {
  text-align: center;
  padding-top: 20px;
  color: rgb(146, 19, 236);
}
form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 50px;
  height: 100%;
  text-align: center;
}

input,
textarea {
  background-color: #e0c4f7;
  border: none;
  border-radius: 5px;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-weight: bold;
}
input:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 10px #719ece;
  transition: 0.2s ease-in;
}
textarea:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 10px rgb(180, 86, 247);
  transition: 0.2s ease-in;
}
.form-container {
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-17 {
  margin: 10px auto;
  appearance: none;
  background-color: rgb(146, 19, 236);
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 900;
  height: 48px;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 40%;
  overflow: visible;
  padding: 2px 24px;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform, opacity;
  z-index: 0;
}

.button-17:hover {
  background: #f6f9fe;
  color: rgb(146, 19, 236);
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid rgb(146, 19, 236);
}


@media screen and (max-width: 768px) {
    .navbar{
      gap: 2px;
    }
    .form-container{
        width: 500px;
    }
}
@media screen and (max-width: 507px) {
   
    .form-container{
        width: 300px;
    }
    .navbar h1{
        font-size: 25px;
      }
      .navbar h2{
        font-size: 18px;
      }
}