@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 16rem;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgb(146, 19, 236);
  cursor: pointer;
  flex-wrap: wrap;
}
.navbar h1 {
  color: rgb(146, 19, 236);
}
.navbar h2:hover {
  color: rgb(146, 19, 236);
}
.links {
  display: flex;
  gap: 2rem;
  float: right;
}

.blog-container-details {
  margin: 20px auto;
  gap: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px;
  border-radius: 12px;
  width: -webkit-fill-available;
  max-height: 450px;
  max-width: 600px;
}
.description {
    word-wrap: break-word;
    margin-top: 10px;
    padding-top: 10px;
    overflow: scroll;
    display: -webkit-box;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: rgb(146, 19, 236);
  }
.description::-webkit-scrollbar {
  width: 6px;
}
.description::-webkit-scrollbar-thumb {
    background-color: rgb(210, 164, 243);
    transition: background-color 0.3s ease;
  }
  
  .description::-webkit-scrollbar-thumb:hover {
    background-color: rgb(154, 53, 226);
  }
  
  .description::-webkit-scrollbar-thumb:active {
    background-color: #b6b6b6;
  }
  
  .description::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

.buttons {
  margin: 10px 10px;
  gap: 10px;
  text-align: right;
  border: none;
  background-color: transparent;
}
.space {
  margin-right: 10px;
}
.edit,
.delete,
.save {
  font-size: 15px;
  width: 70px;
  text-align: center;
  border: none;
  border-radius: 18px;
  padding: 10px;
  font-weight: 600;
  background-color: rgb(146, 19, 236);
  color: white;
}
.edit{
    margin-right: 4px;
}
.save:hover {
  background-color: rgb(201, 144, 242);
  transition: 0.2s ease-in;
}
.edit:hover {
  background-color: rgb(201, 144, 242);
  transition: 0.2s ease-in;
}
.delete:hover {
  background-color: rgb(211, 33, 33);
  transition: 0.2s ease-in;
}


.notification-card {
    display: none;
     position: fixed;
     top: 90px;
     right: 20px;
     background-color: #f44336;
     color: #fff;
     padding: 10px;
     border-radius: 5px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   }
   .notification-card.show {
     display: block;
     right: 40px;
     transition: 1s ease-in;
   }
   
   #notificationText, #closeButton {
     color: rgb(255, 255, 255);
     font-weight: 400;
     letter-spacing: 1px;
   }
@media screen and (max-width: 768px) {
  .navbar {
    gap: 2px;
  }
  .blog-container-details {
    width: 500px;
  }
}
@media screen and (max-width: 507px) {
  .blog-container-details {
    width: 300px;
  }
  .navbar h1 {
    font-size: 25px;
  }
  .navbar h2 {
    font-size: 18px;
  }
}
