@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 16rem;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgb(146, 19, 236);
  cursor: pointer;
  flex-wrap: wrap;
}
.navbar h1 {
  color: rgb(146, 19, 236);
}
.navbar h2:hover {
  color: rgb(146, 19, 236);
}
.links {
  display: flex;
  gap: 2rem;
  float: right;
}
.wrapper {
  border-radius: 10px;
  margin: 60px 30px;
  padding: 10px 10px 30px 10px;
  box-shadow: rgba(92, 47, 118, 0.15) 0px 2px 5px 0px,
    rgba(203, 9, 217, 0.05) 0px 1px 1px 0px;
  background: transparent;
  background: linear-gradient(
    90deg,
    rgba(233, 183, 236, 1) 0%,
    rgba(124, 34, 215, 1) 35%,
    rgba(220, 179, 241, 1) 100%
  );
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  justify-items: center;
  align-items: center;
}
.static-title {
  columns: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.blog-container {
  background-color: #ffffff;
  gap: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px;
  border-radius: 12px;
  width: -webkit-fill-available;
  max-height: 150px;
}
.blog-container-details {
  margin: 20px auto;
  gap: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px;
  border-radius: 12px;
  width: -webkit-fill-available;
  max-height: 450px;
  max-width: 600px;
}
#description {
  margin-top: 10px;
  padding-top: 10px;
  overflow: scroll;
  display: -webkit-box;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #888 #ddd;
}
#description ::-webkit-scrollbar {
  width: 6px;
}
#description ::-webkit-scrollbar-thumb:hover {
  background-color: #2fcbfa;
}

#description ::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

#description ::-webkit-scrollbar-track {
  background-color: #ddd;
}
.blog-container p {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.details {
  float: right;
  width: 60px;
  border: none;
  border-radius: 15px;
  padding: 5px;
}
.details:hover {
  background-color: rgb(146, 19, 236);
  color: aliceblue;
  transition: 0.3s ease-in;
}

.grid-container-1 {
  display: grid;
  grid-template-columns: 3fr;
  padding: 10px;
  justify-items: center;
  align-items: center;
  margin-bottom: 40px;
}
.slider {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.blog-wrapper {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-radius: 12px;
  background: transparent;
  background: linear-gradient(
    90deg,
    rgba(233, 183, 236, 1) 0%,
    rgba(124, 34, 215, 1) 35%,
    rgba(220, 179, 241, 1) 100%
  );
}

.slider-item {
  background-color: #ffffff;
  width: 250px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px;
  border-radius: 12px;
  margin: 0px 10px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 10px;
  transition: all 0.3s;
}
  
.slider-item p {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.blog-container-1 p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.arrow {
  margin: 0 auto;
  font-weight: bold;
  font-size: 20px;
  border: none;
  background: transparent;
  border-radius: 50%;
}
.arrow:hover {
  background-color: rgb(167, 61, 242);
  color: white;
  transition: 0.2s ease-in-out;
}
.notification-card {
  display: none;
  position: fixed;
  top: 90px;
  right: 20px;
  background-color: #f44336;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.notification-card.show {
  display: block;
  right: 40px;
  transition: 1s ease-in;
}

#notificationText,
#closeButton {
  color: rgb(255, 255, 255);
  font-weight: 400;
  letter-spacing: 1px;
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-90px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*media queries*/
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-container-1 {
    width: 400px;
  }
  .blog-wrapper {
    width: 470px;
  }
  .navbar {
    gap: 12rem;
  }
  .slider-item {
    width: 400px;
  }
}
@media screen and (max-width: 507px) {
  .grid-container {
    grid-template-columns: 1fr;
    align-items: center;
  }
  .blog-container-1 {
    width: 300px;
  }
  .blog-wrapper {
    width: 330px;
  }
  .navbar {
    gap: 2rem;
  }
  .navbar h1 {
    font-size: 25px;
  }
  .navbar h2 {
    font-size: 18px;
  }
  .slider-item {
    width: 250px;
  }
}
